---
import Layout from '../layout/Layout.astro';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<Layout title="North Shore Beef & Bar" disc="North Shore Beef & Bar - Your laid-back spot for great eats and good times. Enjoy hearty bites, chilled drinks, and a relaxed atmosphere. Your go-to neighborhood hangout for a tasty meal and a good laugh.">
	<main>
    <content>
      <Header />
      <div class="content-body">
        <h1>Welcome to North Shore Beef & Bar</h1>

      </div>
      <Footer />
    </content>
	</main>
</Layout>