<div class="footer">
    <div class="footer__content">
        &copy; North Shore Beef & Bar 2024, All Rights Reserved
    </div>
</div>

<style>
    .footer {
        height: 75px;
        width: 100%;
    }

    .footer__content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: var(--content-max-width);
        width: 100%;
        margin-top: 50px;
    }