---
import { Image } from "astro:assets";
import Logo from "../image/nsbb-logo.jpg";
---

<div class='header'>
    <div class='header__content'>
        <Image src={Logo} width={250} alt="North Shore Beef & Bar, It's Wicked Good!" class="logo__img" />
    </div>
</div>

<style>
    .header {
        margin: 15px 0;
        width: 100%;
        height: auto;
    }

    .header__content {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: var(--content-max-width);
        margin: 50px 0;
    }
</style>